<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base Host</key>
	<string>$(BASE_HOST)</string>
	<key>Build Type</key>
	<string>$(BUILD_TYPE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>eu.europa.ec.euidi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mdoc-openid4vp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>eu.europa.ec.euidi.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mdoc-openid4vp</string>
			</array>
		</dict>
	</array>
	<key>Firebase Config</key>
	<string>$(FIREBASE_CONFIG)</string>
</dict>
</plist>
